
body
{
  font-family:Calibri;
}


.header {
    background-color:#E0C2D8,#0F94EC;
    text-align: center;
    padding: 20px;
    font-family: Calibri;
    color:green;
    
  }
  .topnav {
    overflow: hidden;
    background-color:#E0C2D8;
  }
  
  /* Navbar links */
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Links - change color on hover */
  .topnav a:hover {
    background-color:#e0c3c2;
    color: white;
  }
  .column {
    float: left;
    padding: 10px;
  }
  
  /* Left and right column */
  .column.side {
    width: 20%;
    height:100vmax;
    background-color: #DFE48F;
    background: url(ai2.jpg);
    
  }
  
  /* Middle column */
  .column.middle{
    width: 60%;
  
    
    
  }
  .column.middle::after{
    
    content: "";
  background: url(ai.jpg);

  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
  height:100vmax;  
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }

  .footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
  }

  .open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  
  /* The popup chat - hidden by default */
  .chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width textarea */
  .form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
  }
  
  /* When the textarea gets focus, do something */
  .form-container textarea:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/send button */
  .form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
  #slide1{
    padding-top:10px; 
    padding-bottom:10px; 
    background-color:green;
    color:white;
    font-size:36px; 
    font-weight:bold; 
    
  }
  #slide2{
    padding-top:10px; 
    padding-bottom:10px; 
    background-color:red;
    color:white;
    font-size:36px; 
    font-weight:bold; 
  }
  #slide3{
    padding-top:10px; 
    padding-bottom:10px; 
    background-color:blue;
    color:white;
    font-size:36px; 
    font-weight:bold; 
  }
  .show{
    padding-top:10px; 
    padding-bottom:10px; 
    background-color:#421008;
    color:white;
    font-size:36px; 
    font-weight:bold;
    text-align: center;

  }
  .trans{
  }
  .trans a{
    width: 100px;
  height: 100px;
  background: red;
  transition: all 0.2s linear;
  }
  .sidenav {
    height: 100%;
    width: 20%;
    position: absolute;
    z-index: 1;
    left:0;
    background-color: #DFE48F;
    background: url(ai2.jpg);
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #421008;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
    background-color:#421008;
  }
  
    
    
  }
  .trans a:hover{
    color: #357099;
  }
  #facility1button1{
    border: 4px solid white;
    border-radius:50%;
    margin: 0 20px;
    padding: 10px;
    display:inline-block;
    transition: width 2s;
    
    
  
  }
  
  #facility1button1:hover{
    cursor:pointer;
    width:100px;
    background:#B2BEB5;
  }
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button {
    background-color: #0abada;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }